# PostgreSQL
Postgres__Database=admindashboard
Postgres__User=postgres
Postgres__Password=PostgresPassword32characters0123456789!
Postgres__Port=5432
Postgres__Host=db

# JWT
Jwt__Key=JwtKey32characters0123456789!
Jwt__Issuer=AdminDashboardBack
Jwt__Audience=AdminDashboardFront
Jwt__AccessTokenMinutes=15
Jwt__RefreshTokenDays=7

# App settings
ASPNETCORE_ENVIRONMENT=Development